.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

/*comments form*/

.commentsForm__container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 450px;
  height: 350px;
  padding: 25px;
  background-color: rgb(177, 174, 174);
  margin: 25px auto 0 auto;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* margin-bottom: 20px; */
  width: 400px;
  height: calc(50vh - 130px);
  /* height: calc(50vh - 320px); */
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
