.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

/*comments form*/

.commentsForm__container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 450px;
  height: 350px;
  padding: 25px 25px 0px 25px;
  padding-bottom: 0px;
  background-color: rgb(177, 174, 174);
  margin: 25px auto 0 auto;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  height: 15vh;
  /* height: calc(50vh - 180px); */
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

input {
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

button {
  background-color: #bab9bf;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: auto;

  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: #212121;
}

button:hover,
button:focus {
  background-color: #2196f3;
  color: white;
}

/*comment-list*/
.commentList__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 450px;
  height: 80px;
  padding: 15px 25px 15px 25px;
  background-color: rgb(177, 174, 174);
  margin: 25px auto 0 auto;
  font-size: inherit;
  font-family: inherit;
}

.commentListItem__name {
  font-size: 16px;
  font-weight: 700;
}

/*pagination*/

.pagination__section{
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: rgb(177, 174, 174);
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.preloader {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
